# Configuración de la Base de Datos (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contraseña_aquí
POSTGRES_DB=flota_api
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public

# URL de Conexión usada por Prisma (Reemplaza con los datos de arriba)
DATABASE_URL="postgresql://postgres:tu_contraseña_aquí@localhost:5432/flota_api?schema=public"

# Seguridad y Autenticación (JWT)
JWT_SECRET="escribe_un_secreto_seguro_para_access_token"
JWT_REFRESH_SECRET="escribe_un_secreto_seguro_para_refresh_token"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Configuración del Servidor NestJS
PORT=3300